<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat real time</title>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>
<body>
    <div class="">
        <div class="login" id="loginFrom">
            <h1>Tên: </h1>
            <p style="color: red;" id="error"></p>
            <input type="text" value="" id="text-user">
            <input type="button" id="btnRegister" value="register"/>
        </div>

        <div class="chat" id="chatFrom">
            <div class="left">
                <div class="user-online">
                    Thành viên tham gia chat
                </div>
                <div id="box-content">

                </div>
            </div>
            <div class="right">
                Xin chào:  <span id="currentUser">Teo</span>
                <input type="button" id="btnLogout" value="Đăng Xuất"/>
                <div id="listMessage">
                    <div style="background-color: brown;" id="startMessage"></div>
                </div>
                <input type="text" id="message" value="" placeholder="nhap tin nhan"/>
                <input type="button" value="Gửi" id="sendMessage"/>
            </div>
        </div>

        <!-- <div class="" id="chatRoom">
            <h1>Chat Room</h1>
            <input type="text" value="" id="text-room">
            <input type="button" id="btnRoom" value="create room"/>

            <h5 id="room-current" style="background-color: red; width: 100px;">s</h5>
            <div class="" id="all-room"></div>

            <div class="chat" id="chatFromRoom">
                <div class="right">
                   
                    <div id="listMessageRoom">
                        <div style="background-color: brown;" id="startMessageRoom"></div>
                    </div>
                    <input type="text" id="messageRoom" value="" placeholder="nhap tin nhan"/>
                    <input type="button" value="Gửi" id="sendMessageRoom"/>
                </div>
            </div>
        </div> -->
    </div>
</body>
    <script src="/js/jquery.js"></script>
    <script src="https://lamvantan-nodejs.herokuapp.com/socket.io/socket.io.js" ></script>
    <script src="handle.js" ></script>
</html>